body {
    background: rgba(0,0,0,0.5);
    font-family: Arial, sans-serif;
}

.box {
    display: none;
    width: 400px;
    margin: 150px auto;
    background: #1c1c1c;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.item {
    padding: 10px;
    background: #333;
    margin: 5px 0;
    border-radius: 5px;
}
