body {
    background: rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bankUI {
    background: #1c1c1c;
    color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

#bankUI input {
    width: 80%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.buttons button {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}
